---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getEntry, render } from "astro:content";
import Prose from "../../components/Prose.astro";
import SectionBlock from "../../components/blocks/SectionBlock.astro";
import config from "../../config.json";

const { article } = Astro.params;

const res = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/posts?categories=3&status=publish&slug=${article}`
);
if (!res.ok) {
  throw new Error(`Failed to fetch posts: ${res.statusText}`);
}
const posts = await res.json();
const articleData = posts[0];

if (!articleData) {
  throw new Error(`Failed to fetch post: ${article}`);
}

const authorRes = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/users/${articleData.author}`
);
const authorData = await authorRes.json();

if (!authorData) {
  throw new Error(`Failed to fetch author: ${articleData.author}`);
}

const prevRes = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/posts?categories=3&before=${articleData.date}&orderby=date&order=desc&per_page=1`
);
const prevPosts = await prevRes.json();
const prevPost = prevPosts[0] || null;

const nextRes = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/posts?categories=3&after=${articleData.date}&orderby=date&order=asc&per_page=1`
);
const nextPosts = await nextRes.json();
const nextPost = nextPosts[0] || null;

const truncatedTitle =
  articleData.title.rendered.length > 52
    ? articleData.title.rendered.slice(0, 52) + "..."
    : articleData.title.rendered;
---

<Layout title={articleData.title.rendered}>
  <div class="breadcrumbs text-sm ml-8">
    <ul>
      <li><a href="/free-articles">Free Articles</a></li>
      <li>
        {truncatedTitle}
      </li>
    </ul>
  </div>
  <article class="mx-auto max-w-3xl px-4 py-16">
    <header class="mb-12 space-y-4 text-center">
      <h1
        class="text-4xl font-bold leading-tight"
        set:html={articleData.title.rendered}
      />
      <div class="text-sm text-stone-500">
        <time datetime={articleData.date}>
          {
            new Date(articleData.date).toLocaleDateString("en-NZ", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <span class="mx-2">·</span>
        <span>By {authorData.name}</span>
      </div>
    </header>

    {
      articleData.featured_media_url && (
        <img
          src={articleData.featured_media_url}
          alt="Featured image"
          class="rounded-lg w-full mb-12 object-cover"
          loading="lazy"
        />
      )
    }

    <Prose>
      <div set:html={articleData.content.rendered} />
    </Prose>
  </article>
  <div class="flex w-full justify-between pb-8 px-8">
    {
      prevPost ? (
        <a
          href={`/free-article/${prevPost.slug}`}
          class="btn max-w-96 h-full w-full text-left p-2"
        >
          <Icon name="mdi:less-than" class="font-bold text-4xl" />
          {prevPost.title.rendered}
        </a>
      ) : (
        <div />
      )
    }

    {
      nextPost ? (
        <a
          href={`/free-article/${nextPost.slug}`}
          class="btn max-w-96 h-full w-full text-right p-2"
        >
          {nextPost.title.rendered}
          <Icon name="mdi:greater-than" class="font-bold text-4xl" />
        </a>
      ) : (
        <div />
      )
    }
  </div>
</Layout>
