---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getEntry, render } from "astro:content";
import Prose from "../../components/Prose.astro";
import SectionBlock from "../../components/blocks/SectionBlock.astro";
import config from "../../config.json";
import Article from "@/components/Article.astro";

const pageNo = parseInt(Astro.params.pageNo || "1", 10);
if (!pageNo) {
  throw new Error("Page number is required");
}

const perPageNo = 9;

const res = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/posts?categories=3&status=publish&per_page=${perPageNo}&page=${pageNo}`
);
if (!res.ok) {
  throw new Error(`Failed to fetch posts: ${res.statusText}`);
}
const articles = await res.json();
---

<Layout title="Articles">
  <SectionBlock heading="All Articles">
    <div class="grid grid-cols-3 max-md:grid-cols-1 gap-16 max-md:gap-8">
      {articles.map((post: any) => <Article article={post} />)}
    </div>
    {
      articles.length < perPageNo && (
        <p class="text-center text-xl font-light">You've reached the end</p>
      )
    }
    <div class="flex w-full justify-between">
      {
        pageNo > 1 ? (
          <a href={`/free-articles/${pageNo - 1}`} class="btn">
            Previous
          </a>
        ) : (
          <div />
        )
      }

      {
        articles.length == perPageNo ? (
          <a href={`/free-articles/${pageNo + 1}`} class="btn">
            Next
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </SectionBlock>
</Layout>
