---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import SectionBlock from "../../components/blocks/SectionBlock.astro";

import type { Testimonial } from "../../types/testimonial";
import config from "../../config.json";

const testimonialsPerPage = 2;

const pageNo = parseInt(Astro.params.pageNo || "1", 10);

let res: Response;
let testimonials: Testimonial[] = [];
res = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/testimonial?per_page=${testimonialsPerPage}&page=${pageNo}`
);
const data = await res.json();

testimonials = data.map((item: any) => ({
  title: item.title.rendered,
  body: item.content.rendered,
  author: item.acf.author,
  location: item.acf.location,
}));

const totalItems = parseInt(res.headers.get("X-WP-Total") || "0", 10);
const totalPageNo = Math.ceil(totalItems / testimonialsPerPage);

if (pageNo < 1 || pageNo > totalPageNo) {
  throw new Error("Page not found");
}
---

<Layout title={`Podcast - Page ${pageNo}`}>
  <SectionBlock heading="Testimonials">
    <h2 class="text-2xl text-center font-bold">Page {pageNo}</h2>
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16">
      {
        testimonials.map((testimonial: Testimonial) => (
          <div class="flex flex-col gap-4 bg-base-200 p-12 rounded-2xl">
            <h1
              class="text-primary font-bold text-xl text-center"
              set:html={testimonial.title}
            />
            <p
              class="whitespace-pre-line font-light"
              set:html={testimonial.body}
            />
            <h2 class="font-bold text-right">
              {testimonial.author} - {testimonial.location}
            </h2>
          </div>
        ))
      }
    </div>
    <div class="flex w-full justify-between">
      {
        pageNo > 1 ? (
          <a href={`/testimonials/${pageNo - 1}`} class="btn">
            Previous
          </a>
        ) : (
          <div />
        )
      }

      {
        pageNo < totalPageNo ? (
          <a href={`/testimonials/${pageNo + 1}`} class="btn">
            Next
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </SectionBlock>
</Layout>
