---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { Cloudinary } from "@cloudinary/url-gen";
import { getCollection } from "astro:content";
import ServiceCard from "../components/ServiceCard.astro";
import ToggleMuteButton from "../components/ToggleMuteButton.tsx";
import SectionBlock from "../components/blocks/SectionBlock.astro";
import { quality } from "@cloudinary/url-gen/actions/delivery";
import { trim } from "@cloudinary/url-gen/actions/videoEdit";
import Prose from "../components/Prose.astro";

import profileImg1 from "../assets/images/profile1.jpg";
import profileImg2 from "../assets/images/profile2.jpg";
import profileImg3 from "../assets/images/profile3.jpg";

import signatureImg from "../assets/images/signature.png";

import config from "../config.json";
import faqs from "../data/faqs";
import type { Testimonial } from "../types/testimonial";
import type { GoogleReview } from "../types/googleReview";
import { AnimatedTestimonials } from "@/components/ui/animated-testimonials";

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const introVideo = cld.video("kudu-advisory/kudu-advisory-hero");
const introVideoURL = introVideo
  .videoEdit(trim().duration("15.0"))
  .delivery(quality(80))
  .toURL();

const services = await getCollection("services");

const reorderedServices = [...services];
const popularIndex = reorderedServices.findIndex((s) => s.data.isMostPopular);
if (popularIndex !== -1) {
  const [mostPopular] = reorderedServices.splice(popularIndex, 1); // remove it
  const middleIndex = Math.floor(reorderedServices.length / 2);
  reorderedServices.splice(middleIndex, 0, mostPopular); // insert at middle
}

let articles: any[] = [];
let res;

res = await fetch(
  `${config.wpRootURL}/wp-json/wp/v2/posts?categories=3&status=publish&_embed&per_page=2`
)
  .then(async (res) => {
    articles = await res.json();
  })
  .catch((err) => {});

let testimonials: Testimonial[] = [];
let googleReviews: GoogleReview[] = [];

try {
  res = await fetch(`${config.wpRootURL}/wp-json/wp/v2/testimonial?per_page=2`);
  const data = await res.json();

  testimonials = data.map((item: any) => ({
    title: item.title.rendered,
    body: item.content.rendered,
    author: item.acf.author,
    location: item.acf.location,
  }));
} catch (err) {}

try {
  res = await fetch(
    `${config.wpRootURL}/wp-json/wp/v2/google-review?per_page=5`
  );
  const data = await res.json();
  googleReviews = data.map((item: any) => ({
    author: item.acf.author,
    quote: item.acf.quote,
    profilePicture: item.acf.profile_picture
      ? item.acf.profile_picture.sizes.medium_large
      : null,
  }));
} catch (err) {}

const turnoverBrackets = [
  { name: "$0 - $50,000" },
  { name: "$50,000 - $175,000" },
  { name: "$175,000 - $500,000" },
  { name: "> $500,000" },
];
---

<Layout isAbsolute={true} title={config.businessName}>
  <section class="h-screen w-full pt-32 relative">
    <video
      id="introVideo"
      autoplay
      loop
      muted
      playsinline
      class="absolute top-0 left-0 w-full h-full object-cover -z-10"
    >
      <source src={introVideoURL} type="video/mp4" />
    </video>
    <div class="absolute bottom-4 right-4 z-50">
      <ToggleMuteButton client:only="react" />
    </div>
    <div
      class="max-w-7xl mx-auto relative h-full flex flex-col max-md:gap-8 px-4"
    >
      <div class="flex flex-col text-8xl max-md:text-6xl">
        <h1 class="text-stone-500">Welcome to</h1>
        <h2 class="text-primary font-bold">{config.businessName}</h2>
      </div>
      <div
        class="max-w-xl absolute right-0 top-1/2 text-xl font-extralight text-right max-md:static max-md:text-left"
      >
        <p>
          {config.description}
        </p>
      </div>
    </div>
  </section>
  <SectionBlock heading="Accounting Servces for Small Businesses">
    <div
      class="grid grid-cols-2 max-md:grid-cols-1 gap-16 w-full place-items-center"
    >
      <div class="p-16 relative">
        <Icon
          name="mdi:format-quote-close"
          class="absolute -top-8 -left-8 text-9xl -scale-x-100 text-primary"
        />
        <p>
          I founded Kudu Advisory so that I could get up close to businesses.
          <br />
          <br />
          I've always had a passion for business, and always wondered what the story
          was behind each that I came across — whether that be the little Korean
          pancake shop I visited at university, the plumber that would fix the leaky
          tap at home, or the new owners of the local McDonald's franchise.
          <br />
          <br />
          What makes them tick? Why have they chosen this path in life? There is
          so much nuance behind every small business, and I want to develop long
          term relationships with my clients so that I get to be involved in that
          nuance, and hopefully add a little bit of my own.
        </p>
        <Icon
          name="mdi:format-quote-close"
          class="absolute -bottom-8 -right-8 text-9xl text-primary"
        />
      </div>
      <div class="flex flex-col items-center">
        <div class="w-2/3 flex flex-col gap-4">
          <Image
            src={profileImg1}
            alt="Profile Image"
            class="rounded-[64px] w-full"
          />
          <div class="relative h-full w-full pb-16">
            <h2 class="text-right font-light italic">Ryan Vergottini (CA)</h2>
            <Image
              src={signatureImg}
              alt="Signature"
              class="w-36 absolute -bottom-4 -right-4"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-2 max-md:grid-cols-1 gap-16 w-full place-items-center"
    >
      <div
        class="grid grid-cols-2 max-md:grid-cols-1 md:gap-4 place-items-center"
      >
        <Image
          src={profileImg2}
          alt="Profile Image 2"
          class="aspect-1/1.5 object-cover"
        />
        <Image
          src={profileImg3}
          alt="Profile Image 3"
          class="aspect-1/1.5 object-cover md:mt-44"
        />
      </div>
      <div class="p-16 relative">
        <Icon
          name="mdi:format-quote-close"
          class="absolute -top-8 -left-8 text-9xl -scale-x-100 text-primary"
        />
        <p>
          I work with clients that are looking to develop a long-term
          relationship with their accountant.
          <br />
          <br />
          You are looking to discuss and open up to me about your personal finances
          so that I can help guide you through financial decisions.
          <br />
          <br />
          You're passionate about what you do, and you're wanting to understand the
          financial picture a little bit better. You're looking for someone trustworthy
          to guide you.
          <br />
          <br />
          As they say, your accountant becomes ever more valuable the longer you
          are with them, as they come to understand you better, along with your business.
          <br />
          <br />
          I look forward to speaking with you.
        </p>
        <Icon
          name="mdi:format-quote-close"
          class="absolute -bottom-8 -right-8 text-9xl text-primary"
        />
      </div>
    </div>
  </SectionBlock>
  <SectionBlock heading="Services" alternate>
    <div class="grid grid-cols-3 max-md:grid-cols-1 max-md:gap-8">
      {
        reorderedServices.map((service, index) => (
          <ServiceCard
            {...service.data}
            slug={service.id.replace(".md", "")}
            index={index}
            length={services.length}
          />
        ))
      }
    </div>
  </SectionBlock>
  {
    articles.length > 0 ? (
      <SectionBlock heading="Articles">
        <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16 max-md:gap-8">
          {articles.map((article: any, index: number) => (
            <div class="flex flex-col gap-4 bg-base-200 p-12 rounded-2xl">
              <h1
                set:html={article.title.rendered}
                class="text-primary font-bold text-xl text-center"
              />
              <Prose>
                <p
                  set:html={article.excerpt.rendered}
                  class="whitespace-pre-line font-light"
                />
              </Prose>
              <a
                href={`/article/${article.slug}`}
                class="btn btn-accent w-fit mx-auto mt-auto"
                aria-label={`Read more about ${article.title.rendered}`}
              >
                Read More
              </a>
            </div>
          ))}
        </div>
        <a
          class="btn btn-accent w-fit mx-auto"
          href="/articles/1"
          aria-label="See all articles"
        >
          See All Articles
        </a>
      </SectionBlock>
    ) : (
      <SectionBlock heading="Articles">
        <p class="text-center text-stone-500">
          No articles available at the moment.
        </p>
      </SectionBlock>
    )
  }
  <SectionBlock heading="Testimonials">
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16">
      {
        testimonials.map((testimonial: Testimonial) => (
          <div class="flex flex-col gap-4 bg-base-200 p-12 rounded-2xl">
            <h1
              class="text-primary font-bold text-xl text-center"
              set:html={testimonial.title}
            />
            <p
              class="whitespace-pre-wrap font-light"
              set:html={testimonial.body}
            />
            <h2 class="font-bold text-right">
              {testimonial.author} - {testimonial.location}
            </h2>
          </div>
        ))
      }
    </div>
    <a href="/testimonials" class="btn btn-accent w-fit mx-auto">
      View All My Case Studies
    </a>
  </SectionBlock>
  <AnimatedTestimonials client:only="react" testimonials={googleReviews} />
  <SectionBlock heading="Contact Me">
    <form
      method="post"
      name="contact"
      data-netlify="true"
      class="w-full flex flex-col gap-4 max-md:col-span-1"
    >
      <div
        class="grid grid-cols-2 gap-8 max-md:gap-4 w-full max-md:grid-cols-1"
      >
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-1">
            <label class="text-xl">Full Name</label>
            <label class="input input-bordered flex items-center gap-2 w-full">
              <Icon name="mdi:user" class="text-3xl" />
              <input
                type="text"
                class="grow text-stone-700"
                name="name"
                required
                placeholder="Enter your name..."
              />
            </label>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-xl">Email Address</label>
            <label class="input input-bordered flex items-center gap-2 w-full">
              <Icon name="mdi:email" class="text-3xl" />
              <input
                type="text"
                class="grow text-stone-700"
                name="email"
                required
                placeholder="Enter your email..."
              />
            </label>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-xl">Phone Number</label>
            <label class="input input-bordered flex items-center gap-2 w-full">
              <Icon name="mdi:phone" class="text-3xl" />
              <input
                type="text"
                required
                class="grow text-stone-700"
                name="phone"
                placeholder="Enter your phone number..."
              />
            </label>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-xl">Industry</label>
            <label class="input input-bordered flex items-center gap-2 w-full">
              <Icon name="mdi:factory" class="text-3xl" />
              <input
                type="text"
                required
                class="grow text-stone-700"
                name="industry"
                placeholder="Software Engineering"
              />
            </label>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-xl"
              >What was your turnover for the last twelve months?</label
            >
            <div class="flex flex-col gap-2">
              {
                turnoverBrackets.map((turnoverBracket) => (
                  <div class="form-control">
                    <label class="label cursor-pointer gap-2 pl-0">
                      <input
                        type="radio"
                        required
                        name="turnover bracket"
                        value={turnoverBracket.name}
                        class="radio radio-secondary"
                      />
                      <span class="label-text">{turnoverBracket.name}</span>
                    </label>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-xl">Message</label>
          <textarea
            name="message"
            required
            class="textarea text-stone-700 textarea-bordered h-full w-full resize-none"
            placeholder="I want to know more about..."></textarea>
        </div>
      </div>
      <button type="submit" class="btn-accent btn w-fit ml-auto">Submit</button>
    </form>
  </SectionBlock>
</Layout>
