---
import logo from "../assets/images/logo.png";
import config from "../config.json";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import astroLogo from "../assets/images/AstroMediaLogo.svg";
---

<footer
  class="footer sm:footer-horizontal bg-secondary text-secondary-content p-10"
>
  <aside class="flex flex-col h-full justify-between">
    <Image src={logo} alt={config.businessName} class="w-72" />
    <h2>© Kudu Advisory Ltd. All right reserved</h2>
  </aside>
  <nav>
    <h6 class="footer-title">Menu</h6>
    {
      config.pages.map((service) => (
        <a class="link link-hover" href={service.url}>
          {service.name}
        </a>
      ))
    }
  </nav>
  <nav class="flex flex-col">
    <h6 class="footer-title">Socials</h6>
    <div class="flex gap-2">
      {
        config.socials.map((social) => (
          <a href={social.url} class="link link-hover" target="_blank">
            <Icon
              name={social.icon}
              class="text-4xl hover:text-primary transition-all"
            />
          </a>
        ))
      }
    </div>
  </nav>
  <nav class="flex flex-col h-full justify-between w-full">
    <!-- <form name="newsletter" data-netlify="true">
      <h6 class="footer-title">Newsletter</h6>
      <p class="font-light max-w-sm mb-4">
        Get expert tips, tax updates, and financial insights—all in one place.
        Sign up now!
      </p>
      <fieldset class="w-80">
        <div class="join">
          <input
            required
            type="text"
            name="email"
            placeholder="johnsmith@gmail.com"
            class="input input-bordered join-item"
          />
          <button class="btn btn-primary join-item">Subscribe</button>
        </div>
      </fieldset>
    </form> -->
    <p class="flex items-center gap-1 max-md:self-center self-end mt-auto">
      Made possible by <a
        href="https://astromedia.dev"
        class="link hover:text-base-200 transition-colors"
        target="_blank">Astro Media</a
      ><Image
        class="w-5"
        src={astroLogo}
        width={10}
        height={10}
        alt="Astro Media"
      />
    </p>
  </nav>
</footer>
